.SocialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--finger);
  width: 1em;
  height: 1em;
  color: var(--color-white);
  border-radius: 50%;
  background-color: var(--color-hide);

  &:hover {
    background-color: var(--color-gray);
  }

  &.--twitter {
    &:hover {
      background-color: var(--color-twitter);
    }
  }

  &.--youtube {
    &:hover {
      background-color: var(--color-youtube);
    }
  }

  &.--meetup {
    &:hover {
      background-color: var(--color-meetup);
    }
  }

  &.--slack {
    &:hover {
      background-color: var(--color-slack);
    }
  }

  &.--instagram {
    &:hover {
      background-color: var(--color-instagram);
    }
  }

  &.--newsletter {
    &:hover {
      background-color: var(--color-newsletter);
    }
  }
}
