.SectionSupport {
  &-list {
    //.row {
    //  flex-wrap: nowrap;
    //  overflow: scroll;
    //  -webkit-overflow-scrolling: touch;
    //  @media (--sm) {
    //    flex-wrap: wrap;
    //    overflow: visible;
    //  }
    //}
  }

  &-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
