.mobile-menu-toggle {
  outline: 0;

  span {
    transition: var(--transition);
    pointer-events: none;
    position: absolute;
  }

  .close {
    opacity: 0;
    transform: rotate(60deg);
  }

  &.--active {
    .close {
      opacity: 1;
      transform: rotate(0);
    }
    .menu {
      opacity: 0;
      transform: rotate(-60deg);
    }
  }
}
