.SocialButton {
  &.--facebook {
    &:hover {
      background-color: var(--color-facebook);
    }
  }

  &.--youtube {
    &:hover {
      background-color: var(--color-youtube);
    }
  }

  &.--twitter {
    &:hover {
      background-color: var(--color-twitter);
    }
  }

  &.--medium {
    &:hover {
      background-color: var(--color-medium);
    }
  }

  &.--instagram {
    &:hover {
      background-color: var(--color-instagram);
    }
  }

  &.--meetup {
    &:hover {
      background-color: var(--color-meetup);
    }
  }
}
