.btn {
  cursor: pointer;
  position: relative;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--finger);
  padding-left: 30px;
  padding-right: 30px;
  font-weight: var(--fw-bold);
  font-size: var(--fs-small);
  text-transform: uppercase;
  color: var(--color-white);
  background: transparent;
  border-radius: var(--radius);

  &.--ghost-white {
    border: 1px solid var(--color-white);
  }

  &.--ghost-primary {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }

  &.--fill-primary {
    background: var(--color-primary);
  }
}
