@define-placeholder BaseBtn {
  cursor: pointer;
  position: relative;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--finger);
  min-width: var(--finger);
  color: var(--color-white);
}

.Btn {
  @extend BaseBtn;
  padding-left: var(--space-3);
  padding-right: var(--space-3);
  font-weight: var(--fw-bold);
  font-size: var(--fs-small);
  text-transform: uppercase;
  background: transparent;
  border-radius: var(--radius);
  @media (--desktop) {
    padding-left: var(--space-5);
    padding-right: var(--space-5);
  }

  &-primary {
    color: var(--color-white);
    background-color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary-dark);
    }
  }

  &-ghost {
    &-white {
      border: 1px solid var(--color-white);

      &:hover {
        color: var(--color-primary);
        background-color: var(--color-white);
      }
    }

    &-primary {
      color: var(--color-primary);
      border: 1px solid var(--color-primary);

      &:hover {
        color: var(--color-white);
        background-color: var(--color-primary);
      }
    }
  }
}

.BtnIcon {
  @extend BaseBtn;
  border-radius: 50%;
  background-color: var(--color-hide);
}
