html {
  color: var(--color-white);
  background-color: var(--color-dark);
}

a,
button {
  transition: var(--transition);
}

::selection {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.Section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (--lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.c-dark {
  color: var(--color-dark);
}

.c-hide {
  color: var(--color-hide);
}

.c-gray {
  color: var(--color-gray);
}

.c-primary {
  color: var(--color-primary);
}
