html {
  color: var(--color-white);
  background-color: var(--color-dark);
}

a,
button {
  transition: var(--transition);
}

::selection {
  background-color: var(--color-primary);
}

.Section {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (--lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.c-dark {
  color: var(--color-dark);
}

.c-hide {
  color: var(--color-hide);
}

.c-gray {
  color: var(--color-gray);
}

.c-primary {
  color: var(--color-primary);
}
