html { 
  color: var(--color-white);
  background: var(--color-dark);
  &::before {
    /* content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), linear-gradient(to bottom, var(--color-dark), var(--color-white)), url(../images/tasarim_mutfagi.png);
    background-repeat: no-repeat; 
    background-size: 100%;
    width: 100%;
    min-height: 100vh; */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-image: radial-gradient(ellipse, rgba(0, 0, 0, .01), rgba(0, 0, 0, 0.3)),
    url(../images/tasarim_mutfagi.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* .pageImageContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 866px;
  object-fit: contain;
  background-blend-mode: color;
  background: red
  img {
    z-index: -1;
    opacity: .3;
  }
} */
a,
button {
  transition: var(--transition);
}

::selection {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.Section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (--lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.c-dark {
  color: var(--color-dark);
}

.c-hide {
  color: var(--color-hide);
}

.c-gray {
  color: var(--color-gray);
}

.c-white-gray {
  color: var(--color-gray);
}

.c-primary {
  color: var(--color-primary);
}