html {
  font-family: var(--ff-text);
  font-size: var(--fs-body);
  @media (--tablet) {
    font-size: var(--fs-body-desktop);
  }
}

/*input, textarea, select, button {
  font-weight: var(--fw-normal);
}*/

h1,
.h1 {
  font-size: var(--fs-h1);
  @media (--tablet) {
    font-size: var(--fs-h1-desktop);
  }
}

h2,
.h2 {
  font-size: var(--fs-h2);
}

h3,
.h3 {
  font-size: var(--fs-h3);
  @media (--tablet) {
    font-size: var(--fs-h3-desktop);
  }
}

h5,
.h5 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-normal);
}

.h1,
.h2,
.h3 {
  font-weight: var(--fw-bold);
}

small,
.fs-small {
  font-size: var(--fs-small);
}

.fw-normal {
  font-weight: var(--fw-normal);
}

.fw-medium {
  font-weight: var(--fw-bold);
}
