html {
  font-family: var(--ff-text);
  font-size: var(--fs-body);
  line-height: var(--line-height);
}

/*input, textarea, select, button {
  font-weight: var(--fw-normal);
}*/

.h1,
.h2,
.h3 {
  font-weight: var(--fw-bold);
}

h1,
.h1 {
  font-size: var(--fs-h1);
  line-height: var(--line-height-head);
}

h2,
.h2 {
  font-size: var(--fs-h2);
  line-height: var(--line-height-head);
}

h3,
.h3 {
  font-size: var(--fs-h3);
  line-height: var(--line-height-head);
}

h4,
.h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-normal);
}

h5,
.h5 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-normal);
}

small,
.fs-small {
  font-size: var(--fs-small);
}

.fw-normal {
  font-weight: var(--fw-normal);
}

.fw-medium {
  font-weight: var(--fw-bold);
}
