:root {
  /* GLOBAL */

  --finger: 50px;
  --radius: 2px;
  --transition: 120ms;
  --transition-slow: 230ms;

  /* COLOR */

  --color-primary: #005cff;
  --color-primary-dark: #004bcf;
  --color-dark: #000000;
  --color-hide: #262626;
  --color-gray: #a8a8a8;
  --color-white-gray: #a8a8a8;
  --color-white: #ffffff;
  --color-alert: #f55d5d;

  --color-facebook: #3b5998;
  --color-medium: #00ab6c;
  --color-twitter: #1da1f2;
  --color-youtube: #ff0000;
  --color-meetup: #e0393e;
  --color-slack: #611e69;
  --color-instagram: #c60e82;
  --color-newsletter: #0a63ff;

  /* SPACE */

  --space: 8px;
  --space-1: calc(var(--space) / 2); /* 4px */
  --space-2: var(--space); /* 8px */
  --space-3: calc(var(--space) * 2); /* 16px */
  --space-4: calc(var(--space) * 3); /* 24px */
  --space-5: calc(var(--space) * 4); /* 32px */
  --space-6: calc(var(--space) * 5); /* 40px */

  /* FONT */

  --ff-text: 'TT Norms', sans-serif;

  --fw-normal: normal; // 500
  --fw-bold: bold; // 600

  --line-height: 1.5;
  --line-height-head: 1.2;

  --fs-small: 14px;
  --fs-body: 16px;
  --fs-h1: 32px;
  --fs-h2: 32px;
  --fs-h3: 24px;
  --fs-h4: 18px;
}

@media (--lg) {
  :root {
    --fs-body: 18px;
    --fs-h1: 48px;
    --fs-h3: 32px;
  }
}
