.TypoList {
  li {
    position: relative;
    padding: var(--space-4) var(--space-6);
    border-bottom: 1px solid var(--color-hide);
  }

  span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: var(--fs-small);
    padding: var(--space-1);
    color: var(--color-gray);
    background-color: var(--color-hide);
  }
}
