
.SectionComment {
  .comments {
    position: relative;
    width: 100%;

    .sliderButton {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: var(--color-hide);
      color: var(--color-white);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 100;
      @media (--xsm) {
        display: none;
      }
      svg {
        pointer-events: none;
        z-index: -1;
      }
      &.left {
        right: calc(100% + 60px);
      }
      &.right {
        left: calc(100% + 60px);
      }
    }
    

    .activeCommend {
      width: 100%;
      max-width: 540px;
      height: 100%;
      max-height: 480px;
      background-color: var(--color-white);
      position: absolute;
      left: 50%;
      top: 50px;
      transform: translateX(-50%);
      padding: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .profile {
        margin-bottom: 10px;
        position: relative;
        width: 100px;
        &_img {
          width: 100px;
          height: 100px;
        }
    
        &_twitter_logo {
          position: absolute;
          bottom: 0;
          width: 35px;
          height: 35px;
          left: 100%;
          transform: translateX(-100%);
          background: var(--color-twitter);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }
      }

      .commend {
        margin-top: var(--space-3);
        color: var(--color-gray);
        font-size: var(--fs-h4);
        font-weight: 500;
      }

      .who {
        color: var(--color-dark);
        font-size: var(--fs-h3);
      }

      .who_title {
        color: var(--color-hide);
        font-size: var(--fs-small);
        width: 100%;
      }
    }
  }
  
}

.commendCard {
  padding: var(--space-5);
  border: 10px solid var(--color-hide);
  border-radius: var(--radius);
  /* transition: var(--transition); */
  margin-top: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: grab;
  position: relative;

  @media (--xsm) {
    border: 0; 
    &:not(.activeCommend) {
      display: none;
    }
  }
  .commend {
    margin-top: var(--space-3);
    color: var(--color-gray);
    font-size: var(--fs-h4)
  }

  .profile {
    margin-bottom: 10px;
    position: relative;
    width: 100px;
    &_img {
      width: 100px;
      height: 100px;
    }

    &_twitter_logo {
      position: absolute;
      bottom: 0;
      width: 35px;
      height: 35px;
      left: 100%;
      transform: translateX(-100%);
      background: var(--color-twitter);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }
}