.SectionSlider {
  .flickity-viewport {
    overflow: visible !important;
  }
  .SliderItem {
    opacity: 0.5;
    width: 100%;
    height: 300px;
    margin-right: 10px;
    color: var(--color-dark);
    background-color: var(--color-white);
    transition: var(--transition-slow);
    padding: var(--space-5);
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
    gap: var(--space-5);

    &-logo {
      width: 95px;
      justify-self: center;
    }

    &-body {
    }

    &.is-selected {
      opacity: 1;
    }
  }
}
