.NavigationMobile {
  .Navigation {
    &-menu {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      font-size: 32px;
      font-weight: var(--fw-bold);
      letter-spacing: -1px;
    }

    &-link {
      position: relative;

      & + .Navigation-link {
        margin-bottom: var(--space-2);
      }
    }
  }

  [class*='nav-bubble-'] {
    pointer-events: none;
    z-index: -1;
    position: absolute;
  }

  .nav-bubble {
    &-1 {
      left: 36px;
      top: 97px;
    }
    &-2 {
      left: 216px;
      top: 223px;
    }
  }
}

.NavigationDesktop {
  .Navigation {
    &-menu {
      font-size: 16px;
      font-weight: var(--fw-normal);
      letter-spacing: -0.5px;
    }

    &-link {
      position: relative;

      & + .Navigation-link {
        margin-left: var(--space-5);
      }

      &:after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: var(--color-primary);
        opacity: 0;
        transform: translateY(-5px);
        transition: var(--transition-slow);
      }

      &.active:after,
      &:hover:after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
