@font-face {
  font-family: 'TT Norms';
  src: url('TTNorms-Regular.woff2') format('woff2'),
    url('TTNorms-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('TTNorms-Medium.woff2') format('woff2'),
    url('TTNorms-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('TTNorms-Bold.woff2') format('woff2'),
    url('TTNorms-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
