.Header {
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;

  &-body {
    z-index: 100;
    position: relative;

    .container {
      height: 160px;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &-menu {
    display: none;
    z-index: 90;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-dark);
    @media (--lg) {
      display: none !important;
    }

    .container {
      position: relative;
      padding-top: 230px;
    }
  }

  &.mobile-menu-show &-menu {
    display: block;
  }

  .mobile-menu-toggle {
    z-index: 100;
    position: relative;
    @media (--lg) {
      display: none !important;
    }
  }

  .NavigationDesktop {
    display: none;
    @media (--lg) {
      display: block !important;
    }
  }

  &.on-scroll {
    position: fixed;
    background-color: var(--color-dark);
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.5);
    transition: var(--transition-slow);

    .container {
      height: 90px;
    }
  }
}
