@import 'formalize.css';

@import 'typeface.css';
@import 'grid.css';
//@import 'grid-order.css';
//@import 'grid-helper.css';
@import 'variables.css';

@import 'common.css';
@import 'typography.css';
@import 'button.css';

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  height: 140px;
  color: var(--color-white);
  border: 10px solid var(--color-primary);
  border-radius: var(--radius);

  &:hover {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }
}

.color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin-right: 20px;
  border-radius: var(--radius);

  &.--primary {
    background-color: var(--color-primary);
  }

  &.--dark {
    background-color: var(--color-dark);
  }

  &.--gray {
    color: var(--color-dark);
    background-color: var(--color-gray);
  }

  &.--white {
    color: var(--color-dark);
    background-color: var(--color-white);
  }
}
