.CountCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  height: 140px;
  color: var(--color-white);
  border: 10px solid var(--color-hide);
  border-radius: var(--radius);

  &.--twitter {
    &:hover {
      border-color: var(--color-twitter);
      background-color: var(--color-twitter);
    }
  }

  &.--youtube {
    &:hover {
      border-color: var(--color-youtube);
      background-color: var(--color-youtube);
    }
  }

  &.--meetup {
    &:hover {
      border-color: var(--color-meetup);
      background-color: var(--color-meetup);
    }
  }

  &.--slack {
    &:hover {
      border-color: var(--color-slack);
      background-color: var(--color-slack);
    }
  }

  &.--instagram {
    &:hover {
      border-color: var(--color-instagram);
      background-color: var(--color-instagram);
    }
  }

  &.--newsletter {
    &:hover {
      border-color: var(--color-newsletter);
      background-color: var(--color-newsletter);
    }
  }
}
