.SectionEvent {
  @media (--sm) {
    padding-bottom: 0;
  }

  > .container {
    position: relative;
  }

  &-content {
    @media (--md) {
      position: absolute;
      top: 0;
    }
  }

  &-photos {
    display: none;
    @media (--md) {
      display: block;
    }

    [class*='col-'] {
      margin-bottom: 30px;
    }

    img {
      border-radius: var(--radius);
    }
  }
}
